/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@import "variables.scss";

@import "../tol-ui/src/scss/tol-styling.scss";

div.userId {
  font-size: 80pt;
  text-align: center;
}

.plate-well-success-test {
  background-color: green;
}
