/*
SPDX-FileCopyrightText: 2025 Genome Research Ltd.

SPDX-License-Identifier: MIT
*/

.tol-attribute-selector {
  margin: 0 0 30px 0;
}

.tol-attribute-selector-menu {
  &.tol-single-selector {
    .rs-checkbox-control {
      display: none;
    }
    .rs-check-item .rs-checkbox-checker > label {
      padding: 8px 12px 8px 20px;
    }
  }
}

// temporary fix for x overflow
.rs-picker-check-menu:has(.tol-attribute-selector-menu-item-container) {
  overflow-x: hidden;
}

.rs-picker-check-menu::-webkit-scrollbar {
  width: 10px;
}

.rs-picker-check-menu::-webkit-scrollbar-track {
  background-color: var(--tol-grey);
  border-radius: 5px;
}

.rs-picker-check-menu::-webkit-scrollbar-thumb {
  background-color: var(--tol-grey-subtle);
  border-radius: 5px;
}

.rs-picker-check-menu::-webkit-scrollbar-thumb:hover {
  background-color: var(--tol-grey-subtle);
}

.rs-picker-check-menu .rs-picker-menu-group-title {
  color: var(--tol-text);
}

.tol-attribute-selector-menu-item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tol-attribute-selector-menu-item-inner-container {
    flex-grow: 1;
    max-width: 300px;
  }

  .tol-attribute-selector-tooltip {
    margin-left: 3px;
    margin-right: 6px;
  }

  .tol-attribute-selector-display-name {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;

    p {
      margin-bottom: 0px !important;
    }
  }

  .tol-attribute-selector-display-key {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 12px;
    color: var(--tol-grey);
    width: 100%;
    display: flex;
    gap: 3px;

    p {
      margin-bottom: 0px !important;
    }

    svg {
      margin-top: 3px;
    }
  }
}

.tol-attribute-selector-search-by-source-container {
  padding: 5px;

  >p {
    margin: 10px 0px 4px 6px !important;
  }

  .tol-attribute-selector-sources {
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
    gap: "3px";
  }

  .tol-attribute-selector-sources-inner-container {
    margin-top: 5px;
    cursor: pointer;
  }
}

.tol-attribute-selector-suggested-toggle {
  margin-top: 2px !important;
  margin-bottom: -18px !important;

  .rs-checkbox {
    vertical-align: unset !important;
  }
}

.tol-customise-config-source-no-float {
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
  margin-right: 10px;
  overflow: auto;
  float: right;
  background-color: var(--config-source-bg-color);
  color: black;
  padding: 0.05rem 0.4rem;
  border-radius: var(--tol-border-radius);
  float: none !important;
}

.tol-customise-config-source-no-float.active {
  border: 1px solid var(--tol-light);
}

.tol-customise-config-source-no-float.faded {
  opacity: 0.5;
}

.tol-attribute-selector-render-single-item {
  display: flex;
}

@media (max-width: 768px) {
  .rs-anim-fade.rs-anim-in.rs-picker-check-menu.rs-picker-popup.placement-bottom-start {
    max-width: auto !important;
  }

  .tol-attribute-selector-menu-item-container {
    .tol-customise-config-source-no-float {
      flex: none !important;
      margin-left: 20px !important;
    }
  }

  .tol-attribute-selector-display-key,
  .tol-attribute-selector-display-name {
    overflow-wrap: anywhere !important;
  }
}

.tol-inline-source {
  height: 0.75em;
  width: 0.2em;
  margin-right: 0.3em;
  border-radius: var(--tol-border-radius);
  display: inline-block;
  transition: width 0.5s ease, background-color 0.3s ease;
}

.tol-attribute-title:hover {
  .tol-inline-source {
    width: 0.75em;
  }
}

.tol-advance-search-tabs {
  .rs-nav.rs-nav-pills.rs-nav-horizontal {
    margin-left: 12px !important;
  }
}

.tol-advance-search-tab-container {
  padding: 0px 12px 12px 12px;

  .tol-advance-search-tab-button {
    margin-top: 10px;
  }

  .tol-advance-search-tab-search {
    display: flex;
    align-items: flex-end;

    .tol-advance-search-tab-tooltip {
      margin-left: 3px;
      margin-right: 6px;
    }

    .tol-advance-search-tab-button {
      width: 100%;
    }

  }

}

.tol-provenance-picker {
  margin-top: 8px;
  background-color: var(--tol-bg);
  border-radius: var(--tol-border-radius-sm);
  display: flex;
  flex-direction: column;

  & > * {
    padding: 0.5rem;
  }
}

.tol-provenance-picker-entry {
  padding: 0.2rem;
  border-radius: 0.4rem !important;
  background-color: var(--tol-bg);
  color: var(--tol-text);
  font-weight: normal;

  &:hover {
    background-color: var(--tol-grey-subtle);
    color: var(--tol-primary);
  }

  .rs-checkbox {
    width: 100%;
    height: 100%;
  }

  .tol-provenance-picker-checkbox {
    width: 100%;

    .rs-checkbox-checker,
    .rs-checkbox-checker > label {
      display: block;
      width: 100%;
    }

    .rs-checkbox-label div {
      display: inline;
    }

    /*
    RSuite styles checked checkboxes using descendant selectors.
    Since this checkbox is rendered inside a CheckPicker item, a checked parent item
    would otherwise also give every unchecked provenance checkbox a tick.

    These styles force the checked style to be off if it's not logically checked.
    */
    &:not(.rs-checkbox-checked):not(.rs-checkbox-indeterminate) >
      .rs-checkbox-checker > label > .rs-checkbox-control {
      &::before {
        visibility: hidden;
      }

      .rs-checkbox-inner::before {
        background-color: transparent;
        border-color: var(--rs-checkbox-border);
      }

      .rs-checkbox-inner::after {
        border: 0;
        opacity: 0;
        transform: rotate(45deg) scale(0);
      }
    }
  }
}
