/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

button,
.btn,
.rs-btn,
input[type="button"],
input[type="submit"] {
  font-size: 14px;
  border-radius: var(--tol-border-radius) !important;
}

// This is used to generate the classes for the different types of icon buttons
// Define the types and their specific background colors
// These colours correlate to the tol-colours (bs-colours) set in the variables.scss
$types: (
  "primary": --tol-primary,
  "success": --tol-success,
  "error": --tol-danger,
  "edit": --tol-royal,
  "warning": --tol-warning,
);

// Define sizes and their specific dimensions
$sizes: (
  "md": (height: 30px,
    min-width: 30px,
  ),
  "lg": (height: 36px,
    min-width: 36px,
  ),
);

// Loop through the types and sizes
@each $type, $color in $types {
  @each $size, $dimensions in $sizes {
    .icon-button-#{$type}-#{$size} {
      @if $size =="md" {
        padding: 5px;
      }

      @else {
        padding: 10px;
      }

      border-color: var(#{$color}-translucent) !important;
      border-style: solid !important;
      border-width: 1px;
      background-color: var(#{$color}-translucent) !important;
      color: var($color);
      box-shadow: var(--tol-shadow-subtle);

      // Apply size-specific styles
      @each $property, $value in $dimensions {
        #{$property}: $value;
      }

      // Override the :hover state
      &:hover,
      &:active {
        border-color: var($color) !important;
        color: var($color);
      }

      &:focus {
        color: var($color);
      }

      // Override the rsuite button values for active and disabled
      &.rs-btn.rs-btn-active {
        background-color: var(#{$color}-dark) !important;
        border-color: var($color);
        color: var($color) !important;
      }

      &.rs-btn.rs-btn-disabled {
        background-color: var(--tol-grey-subtle) !important;
        border-color: var(--tol-grey-subtle) !important;
        color: var(--tol-bg) !important;
        fill: var(--tol-bg) !important;
        background-color: transparent;
      }
    }

    .icon-button-#{$type}-#{$size}-outline {
      @extend .icon-button-#{$type}-#{$size};
      background-color: var(--tol-bg) !important;
      color: var($color) !important;
      box-sizing: border-box;

      &:hover,
      &:active {
        border-color: var(#{$color}) !important;
        color: var($color) !important;
      }

      &.rs-btn.rs-btn-active {
        background-color: transparent !important;
        border-color: var(#{$color}-dark) !important;
        border-width: 2px;
        color: var($color) !important;

        @if $size =="md" {
          padding: 4px;
        }

        @else {
          padding: 9px;
        }
      }

      &.rs-btn.rs-btn-disabled {
        background-color: var(--tol-grey-subtle) !important;
        border-color: var(--tol-grey-subtle) !important;
        color: var(--tol-bg) !important;
        fill: var(--tol-bg) !important;
        background-color: transparent;
      }
    }
  }
}

.tol-button-wrapper {
  &-left  { float: left;  margin-right: 6px; }
  &-right { float: right; margin-left: 6px;  }
}

// Adds a margin to the right of the icon in the dropdown button if there is text present
.tol-button-dropdown {
  .rs-dropdown-item-content:has(.tol-dropdown-text) {
    .tol-dropdown-icon {
      margin-right: 12px;
    }
  }
}
