/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */


button.btn {
  font-size: 14px;
}
  
.config-button {
  color: var(--primary);
  fill: var(--primary);
  background-color: transparent;
  border-color: var(--grey-emphasis);
  padding: 0;
  height: 30px;
  width: 30px;
}

.config-button-left {
  @extend .config-button;
  float: left;
  margin-right: 6px;
}

.config-button-right {
  @extend .config-button;
  float: right;
  margin-left: 6px;
}

.config-button:hover {
  border-color: var(--primary) !important;
  text-decoration: none;
  color: white;
  fill: white;
}

.config-button:active {
  border-color: var(--primary) !important;
  text-decoration: none;
  color: var(--primary);
  fill: var(--primary);
}

.config-button:disabled {
  background-color: var(--grey-emphasis) !important;
  border-color: unset !important;
  color: var(--bs-body-bg) !important;
  fill: var(--bs-body-bg) !important;
  background-color: transparent;
}

// This is used to generate the classes for the different types of icon buttons
// Define the types and their specific background colors
// These colours correlate to the tol-colours (bs-colours) set in the variables.scss
$types: (
  'primary': --primary,
  'success': --tol-success,
  'error': --tol-error,
  'edit': --tol-edit,
  'warning': --tol-warning
);

// Define sizes and their specific dimensions
$sizes: (
  'md': (height: 32px),
  'lg': (height: 38px)
);

// Loop through the types and sizes
@each $type, $color in $types {
  @each $size, $dimensions in $sizes {
    .icon-button-#{$type}-#{$size} {
      @if $size == 'md' {
        padding: 5px;
      } @else {
        padding: 10px;
      }
      border-style: solid !important;
      border-width: 1px;
      border-color: var($color) !important;
      background-color: var($color) !important;
      color: white;

      // Apply size-specific styles
      @each $property, $value in $dimensions {
        #{$property}: $value;
      }

      // Override the :hover state
      &:hover, &:active {
        border-color: var(#{$color}-light) !important;
        color: white;
      }

      &:focus {
        color: white;
      }

      // Override the rsuite button values for active and disabled
      &.rs-btn.rs-btn-active{
        background-color: var(#{$color}-dark) !important;
        border-color: var($color);
        color: white !important;
      }
      &.rs-btn.rs-btn-disabled {
        background-color: var(--grey-emphasis) !important;
        border-color: var(--grey-emphasis) !important;
        color: var(--bs-body-bg) !important;
        fill: var(--bs-body-bg) !important;
        background-color: transparent;
      }

    }

    .icon-button-#{$type}-#{$size}-outline {
      @extend .icon-button-#{$type}-#{$size};
      background-color: transparent !important;
      color: var($color) !important;
      border-color: var(--grey-emphasis) !important;
      box-sizing: border-box;
      //border: 2px solid transparent;
      &:hover, &:active {
        border-color: var(#{$color}-dark) !important;
        color: var($color) !important;
        border-width: 2px;
        @if $size == 'md' {
          padding: 4px;
        } @else {
          padding: 9px;
        }
      }

      &.rs-btn.rs-btn-active{
        background-color: transparent !important;
        border-color: var(#{$color}-dark) !important;
        border-width: 2px;
        color: var($color) !important;
        @if $size == 'md' {
          padding: 4px;
        } @else {
          padding: 9px;
        }
      }

    }

  }
}
