/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-table-image-modal-image {
  max-height: 650px;
  max-width: 95%;
  min-height: 200px;
  min-width: 200px;
  border-radius: 6px;
}

.tol-table-image-modal-caption {
  text-align: center;
  width: max-content;
  color: var(--tol-text);
  margin-top: 10px;
}

.tol-table-image-cell {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;

  img {
    max-height: 80px;
    max-width: 120px;
  }
}