/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-table-image-modal-caption {
  text-align: center;
  width: max-content;
  color: var(--tol-text);
  margin-top: 10px;
}

.tol-table-image-cell {
  cursor: pointer;

  img {
    max-height: 80px;
    max-width: 120px;
    border-radius: var(--tol-border-radius);
  }
}
