/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --rs-placeholder: var(--tol-grey);
  --rs-placeholder-active: var(--tol-bg);
}

.rs-placeholder-active .rs-placeholder-grid-col > p,
.rs-placeholder-active .rs-placeholder-paragraph-graph-image,
.rs-placeholder-active .rs-placeholder-paragraph-rows > p,
.rs-placeholder-active.rs-placeholder-graph {
  border-radius: var(--tol-border-radius);
}

.rs-placeholder-graph {
  position: relative !important;
  height: auto !important;
  min-height: 100% !important;
}

// map tooltip (popup) related
.leaflet-popup .leaflet-popup-content-wrapper {
  font-size: 14px;
  opacity: 1 !important;
  border-radius: var(--tol-border-radius);

  .leaflet-popup-content {
    margin: 12px;
  }

  .tol-map-popup .leaflet-popup-tip {
    opacity: 1 !important;
  }
}

.leaflet-popup-tip-container {
  width: 20px !important;
  height: 10px !important;
  margin-left: -10px !important;
  opacity: 1 !important;
}

.tol-map-popup .leaflet-popup-tip {
  opacity: 1 !important;
}

.sunburst-mini {
  height: 150px;
  width: 150px;
  position: absolute;
  top: var(--tol-utility-bar-offset);
  left: 0;
}

.sunburst-sub {
  height: 100%;
  width: 100%;
}

.tol-board-chart-interval-btn-container {
  display: flex;
}

.tol-board-chart-interval-buttons {
  margin: 0 10px 30px 0;
}

.tol-board-chart-sort-buttons {
  margin: -20px 10px 30px 0;
}

.tol-board-chart-xaxis-container {
  display: flex;
  align-items: self-end;
  margin-bottom: 10px;
}

.tol-board-chart-xaxis-title {
  margin: 0 5px 0 0;
}

.tol-board-chart-stacked-toggle {
  margin-bottom: 15px;
}