/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --rs-placeholder: var(--tol-grey);
  --rs-placeholder-active: var(--tol-bg);
}

.rs-placeholder-active .rs-placeholder-grid-col > p,
.rs-placeholder-active .rs-placeholder-paragraph-graph-image,
.rs-placeholder-active .rs-placeholder-paragraph-rows > p,
.rs-placeholder-active.rs-placeholder-graph {
  border-radius: 6px;
}

.rs-placeholder-graph {
  position: relative !important;
  height: auto !important;
  min-height: 100% !important;
}

// map tooltip (popup) related
.leaflet-popup .leaflet-popup-content-wrapper {
  font-size: 14px;
  opacity: 1 !important;
  border-radius: 6px;

  .leaflet-popup-content {
    margin: 12px;
  }

  .tol-map-popup .leaflet-popup-tip {
    opacity: 1 !important;
  }
}

.leaflet-popup-tip-container {
  width: 20px !important;
  height: 10px !important;
  margin-left: -10px !important;
  opacity: 1 !important;
}

.tol-map-popup .leaflet-popup-tip {
  opacity: 1 !important;
}

.sunburst-mini {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.sunburst-sub {
  height: 100%;
  width: 100%;
}
