/*
 * SPDX-FileCopyrightText: 2026 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-component-counter {
  z-index: 2;
  border-radius: var(--tol-border-radius);
  background-color: var(--tol-grey-translucent);
  position: absolute;
  bottom: var(--tol-spacing-sm);
  right: var(--tol-spacing-sm);
  top: auto;
  left: auto;
  padding: 4px 8px;
  backdrop-filter: blur(3px);
}
