/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.count-filter-button {
  z-index: 2;
  text-align: right;
}

.tol-count {
  text-align: center;
  height: 100%;

  p {
    font-weight: bolder;
    position: relative;
    z-index: 1;
    color: var(--tol-emphasis);
  }

  h1.count {
    font-size: 46px;
    margin-top: 16px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  .faded {
    cursor: default;
    position: relative;
    top: -110px;
    height: 140%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: var(--tol-border-radius);
    overflow: hidden;

    h1 {
      color: var(--tol-bg-dark) !important;
      opacity: 0.4;
      font-size: 300px;
      white-space: nowrap;
      position: relative;
      top: -100px;
      left: -70px;

      @media (prefers-color-scheme: dark) {
        opacity: 0.2;
      }
    }
  }
}
