/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */


.tol-responsive-widget {
  @extend .tol-widget;
  margin: 0;
}

.tol-draggable-widget:hover {
  cursor: move;
}

.tol-responsive-grid {
  background-color:blue;
  margin: 16px;
  border-radius: 6px;
  position: relative;
}

.tol-dashboard {
  padding: 10px;
}