/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

// layout of the grid
.tol-responsive-grid {
  padding: 2px;
  position: relative;
}

.tol-responsive-widget {
  @extend .tol-widget;
  margin: 0;
  position: relative;
}

.widget-delete-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  margin: 6px;
}

.tol-draggable-widget {
  background-color: var(--bs-body-bg);
  border-radius: 6px;
}

.tol-draggable-widget:hover {
  cursor: move;
}

.tol-board-bar {
  @extend .tol-widget;
  margin: 0;
  margin-bottom: 10px !important;
  border-radius: 0;

  .inline-edit {
    color: var(--primary)
  }
}

.tol-zone-bar {
  @extend .tol-widget;
  border-radius: 0;
  margin: 0;
}

.tol-zone-bar>div {
  padding-right: 12px;
}

// buttons and modals etc
.inverted-config-button {
  float: right;
  padding: 0;
  height: 30px;
  width: 30px;
  margin-left: 6px;

  border-color: var(--primary) !important;
  text-decoration: none;
  color: white;
  fill: white;
}

.inverted-config-button:hover {
  color: var(--primary);
  fill: var(--primary);
  background-color: transparent;
  border-color: var(--grey-emphasis);
}

.dashboard-component-modal-full {
  .rs-modal-content 
    .rs-modal-body {
    height: auto !important;
    overflow: hidden !important;
    }
  }

.inverted-config-button:active {
  background-color: var(--grey-emphasis) !important;
  border-color: var(--grey-emphasis);
  color: var(--bs-body-bg) !important;
  fill: var(--bs-body-bg) !important;
  background-color: transparent;
}

.config-button:disabled {
  border-color: unset !important;
  text-decoration: none;
  color: var(--primary);
  fill: var(--primary);
}

.add-zone-button {
  position: absolute;
  right: 24px;
  top: 92px;
}

.edit-config-button {
  float: right;
  padding: 0;
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

.tol-delete-warning {
  @extend .edit-config-button;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  
  p {
    font-size: 14px;
    font-weight: bolder;
  }
}

.my-boards-container {
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  height: calc(100vh - 432px);
}

.my-boards-dropdown-buttons{
  border: 0px !important;
  font-size: 20px !important;
}

.my-boards-dropdown-buttons {
  @media(prefers-color-scheme: dark) {
    color: #fff;
  }
}

.zone-edit-button {
  @extend .edit-config-button;
  background-color: darkmagenta;
  border-color: darken(darkmagenta, 10%);
}

.zone-edit-button:hover {
  background-color: darken(darkmagenta, 5%);
  border-color: darken(darkmagenta, 10%);
}

.zone-edit-button:active {
  background-color: darken(darkmagenta, 5%) !important;
  border-color: darken(darkmagenta, 10%) !important;
  fill: darken(darkmagenta, 10%) !important;
}

.tol-button-col {
  margin-bottom: 15px;
}

.tol-component-modal-bttn {
  cursor: pointer;
  width: auto;
  border-radius: 6px;
  text-align: center;
  background-color: var(--grey-subtle);
  position: relative !important;
  height: auto !important;
  min-height: 100% !important;
  padding: 15px;
  border-width: 2px;

  h6 {
    margin-top: 10px;
  }
}

// Temporary class as only table is useable
.tol-component-modal-bttn-disabled {
  @extend .tol-component-modal-bttn;
  background-color: var(--grey-emphasis);
  cursor: not-allowed;
  color: var(--grey-subtle);
}

.tol-component-modal-bttn:hover {
  background-color: var(--grey-emphasis);
}

.tol-component-modal-bttn-clicked {
  @extend .tol-component-modal-bttn;
  background-color: var(--bs-body-bg);
  border-color: var(--primary) !important;
  border-width: 2px;
  border-style: solid;
}

.tol-zone-empty {
  text-align: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px;
    font-weight: bolder;
  }
}

.tol-placeholder {
  h5 {
    margin-top: 5px;
  }
}

.dashboard-modal-input.form-control {
  font-size: 14px;
  color: var(--primary);
}

.tol-modal-error {
  color: var(--bs-danger);
  font-size: 14px;
}

.inline-edit {
  font-weight: bolder !important;
}

.character-counter {
  position: absolute;
  bottom: -20px;
  right: 12px;
  font-size: 12px;
  color: var(--rs-text-secondary);
  background: var(--bs-body-bg);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.character-counter-warning {
  color: var(--rs-form-errormessage-text);
}

.new-board-inputs .rs-input {
  width: 360px;
}

.zone-modal-labels {
  margin-bottom: 5px !important;
}