/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-data-point-renderer-modal-selector {
  margin: 12px 0 20px 0;
}

.tol-data-point-renderer-modal-params {
  border-top: 1px solid var(--tol-grey);
  padding-top: 16px;

  .tol-param-info {
    margin-left: 6px;
  }

  .tol-param-required {
    margin-left: 2px;
    color: var(--tol-danger);
  }

  .tol-param {
    margin: 4px 0 12px 0;
  }
}

.tol-data-point-renderer-modal-condition-params {
  border-top: 1px solid var(--tol-grey);
  padding-top: 20px;
  margin-top: 20px;
  overflow: hidden;

  .tol-param-header {
    height: 50px;
    position: relative;

    .tol-param-title {
      position: absolute;
    }
  }
}

.tol-collection {
  display: table-cell;
}

.rs-table-cell-wrap:has(.tol-collection) {
  margin: -4px !important;
}

.tol-collection-object-entry {
  margin-bottom: 6px;
}

.tol-collection-object-key {
  font-weight: bold;
  margin-right: 6px;
}

.tol-data-point-editable-controls {
  margin-top: 6px;

  &:not(.floating) {
    height: 30px;
  }
}