/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {

}

.tol-dnd-section {
  background-color: red;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
}

.tol-dnd-column {
  background-color: blueviolet;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
}

.tol-dnd-item {
  background-color: green;
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
}