/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-dnd {
  margin: 10px;
  border-radius: 6px;
  padding: 10px;
  margin: 0;
}

.tol-dnd-column {
  background-color: var(--tol-bg-dark);
  margin: 10px;
  border-radius: 6px;
  padding: 1px;
  height: 100%;
  min-height: 50px;
}

.tol-dnd-column-drop {
  background-color: var(--tol-primary-translucent);
  margin: 10px;
  border-radius: 6px;
  padding: 1px;
  height: 100%;
}

// increase draggable size
.tol-dnd-column > div,
.tol-dnd-column-drop > div {
  height: 100%;
  min-height: 50px;
}

.tol-dnd-column-title {
  margin: 10px;
  margin-bottom: 0;
}

.customise-config-source {
  font-size: 12px;
  font-weight: normal;
  margin-left: 6px;
  overflow: auto;
  float: right;
  background-color: var(--config-source-bg-color);
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
  max-height: 20px;
}

.customise-config-source-no-float {
  @extend .customise-config-source;
  float: none !important;
}

.active-column-remove-btn{
  margin-left: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.config-drawer-selected-column {
  transition: all 0.3s ease;
}

.config-drawer-selected-column.highlight {
  border: 1px solid var(--tol-primary-light);
}

.config-drawer-selected-column.deleting {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease, height 0.3s ease, margin 0.3s ease, padding 0.3s ease;
}

.tol-dnd-item {
  background-color: var(--tol-bg);
  margin: 4px;
  border-radius: 6px;
  padding: 4px 10px 4px;
  color: var(--tol-emphasis);
  overflow: auto;
  font-weight: bold;
  border: 2px solid var(--tol-bg-dark);

  // info icon in settings
  .info .tooltip-wrapper {
    padding-right: 6px;
    svg {
      margin-top: -3px;
    }
  }

  .config-source {
    font-size: 12px;
    font-weight: normal;
    margin-left: 6px;
    overflow: auto;
    float: right;
    background-color: var(--config-source-bg-color);
    color: black;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
  }

  .field-name-origin {
    color: var(--tol-grey);
    font-size: 12px;
    font-weight: normal;
    margin-left: 6px;
    float: right;
  }

  .icon {
    margin-left: 6px;
    margin-top: 5px;
    color: var(--tol-bg);
    float: right;
  }
}
