/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-table {
  // dealing with dropdown overflow issue
  .rs-table-cell-content,
  .rs-table-cell,
  .rs-table-row-header {
    overflow: unset !important;
  }
}

.rs-input-group.rs-input-group-inside .rs-input {
  padding-right: 0;   
}

.tol-text-filter {
  .rs-input,
  .rs-input-group,
  .rs-picker-toggle {
    border-radius: 0;
  }
}

.tol-date-filter,
.tol-multi-filter {
  .rs-input,
  .rs-input-group,
  .rs-picker-toggle {
    border-radius: 6px 0 0 6px;
  }
}

.tol-text-filter,
.tol-date-filter,
.tol-multi-filter {
  // reduce padding on dropdown items
  .rs-dropdown-item {
    padding: 2px 10px !important;
  }

  // focus shadow
  .btn:focus-visible {
    box-shadow: none !important;
  }

  // input placeholder padding
  .rs-input-group.rs-input-group-inside .rs-input {
    padding-right: 12px;
  }  

  .tol-in-list-button,
  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default {
    background-color: var(--bs-body-bg) !important;
    border: 1px solid var(--rs-border-primary) !important;
    border-right: none !important;
    color: var(--primary);
    height: 36px;
    width: 20px;
    padding: 6px;

    svg {
      width: 9px;
      margin-left: -1px;
      margin-bottom: 1px;
    }
  }

  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default:hover,
  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default:focus {
    border: 1px solid var(--primary) !important;
  }

  .tol-in-list-button:hover {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
    svg {
      fill: white;
      color: white;
    }
    padding-right: 12px;
  }

  .tol-in-list-button.btn {
    color: var(--placeholder) !important;
  }

  .rs-dropdown-item-focus {
    background-color: var(--grey-subtle) !important;
    color: var(--primary) !important;
  }

  .rs-input-group.rs-input-group-inside:not(.rs-picker-input-group) {
    display: inline-block !important;
    width: calc(100% - 38px) !important;
  }

  .rs-picker.rs-picker-daterange,
  .rs-picker.rs-picker-check {
    display: inline-block !important;
    width: calc(100% - 18px) !important;
  }


  .rs-input-group:not(.rs-picker-input-group) {
    margin-left: 20px;
  }

  .tol-in-list-button {
    position: absolute;
    border-radius: 6px 0 0 6px;
  }

  input:disabled::placeholder {
    color: var(--placeholder) !important;
  }
}

.tol-num-filter {
  @extend .tol-text-filter;

  // re-position dropdown toggle inline with input
  .rs-dropdown {
    position: absolute;
  }

  .rs-input-group.rs-input-group-inside {
    width: calc(100% - 38px) !important;
    margin-left: 20px;
  }

  .rs-btn {
    border-radius: 6px 0px 0px 6px;
  }

  .rs-input, .rs-input-group {
    border-radius: 0;
  }
}

// filter buttons
.tol-filter-button-group {
  float: right;
  width: 18px;
  height: 36px;
  margin: 0;
  padding: 0;
}

.tol-filter-button {
  float: right;
  margin: 0;
  padding: 0;
  height: 18px;
  width: 18px;
  border-radius: 0;
  background-color: var(--bs-body-bg);
  border-color: var(--grey-emphasis) !important;
  color: var(--placeholder);

  .icon {
    margin: -1px !important;
  }

  --bs-btn-line-height: 0px !important;
  --bs-btn-font-size: 14px !important;
}

.tol-filter-button.negate {
  border-bottom-right-radius: 6px;
  border-left: none;
  border-top: none;
}

.tol-filter-button.exists {
  border-top-right-radius: 6px;
  border-left: none;
}

.tol-filter-button.negate:hover,
.tol-filter-button.negate.btn.active {
  @extend .tol-filter-button;
  border-color: var(--tol-error) !important;
  background-color: var(--tol-error) !important;
  color: white !important;
}

.tol-filter-button.exists:hover,
.tol-filter-button.exists.btn.active {
  @extend .tol-filter-button;
  border-color: var(--tol-success) !important;
  background-color: var(--tol-success) !important;
  color: white !important;
}

.tol-filter-button.negate:disabled,
.tol-filter-button.exists:disabled {
  @extend .tol-filter-button;
  opacity: 0.5;
  background-color: var(--rs-input-disabled-bg);
  cursor: not-allowed;
  pointer-events: all !important;
}

.tol-in-list-button:disabled {
  opacity: 0.5;
  background-color: var(--rs-input-disabled-bg) !important;
  cursor: not-allowed;
  pointer-events: all !important;
}

.tol-filter-button.negate.active:disabled {
  filter: none !important;
  background-color: var(--bs-danger) !important;
}

.tol-filter-button.exists.active:disabled {
  filter: none !important;
  background-color: var(--bs-success) !important;
}

// boolean filters
.rs-checkbox-checker:has(.tol-status) {
  // slim down statuses
  .tol-status .alert {
    padding: 2px 10px;
    margin: 2px;
  }

  .rs-checkbox-wrapper {
    top: 15px;
  }
}

.rs-check-item:has(.tol-status) {
  display: table-cell;
}

.rs-picker-check-menu:has(.tol-status) {
  padding-top: 4px;
}

// statuses in the filters and table
.tol-boolean-filter:has(.tol-status),
.rs-table-cell:has(.tol-status) {
  .tol-status .alert {
    padding: 2px 10px;
    margin: 2px;
  }

  .rs-picker-toggle.rs-btn.rs-btn-default {
    padding: 2px;
    height: 36px;
  }
}

.tol-in-list-modal {
  textarea {
    resize: none;
  }
}

// removing icons for disabled filter
.rs-picker-disabled {
  .rs-stack-item:has(svg.rs-icon) {
    display: none;
  }
  .rs-picker-toggle.rs-btn.rs-btn-default.rs-btn-disabled {
    padding-right: 8px;
  }
}

.tol-filters {
  .filter {
    margin: 4px 0 12px 0;
    display: inline-block;
    width: calc(100% - 40px);
  }

  .remove-filter-button {
    float: right;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 7px 0;
  }
}

.close-button {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0 20px 0 0;
}

.tol-filters-selector {
  margin: 0 0 30px 0;
}