/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-table {
  // dealing with dropdown overflow issue
  .rs-table-cell-content,
  .rs-table-cell,
  .rs-table-row-header {
    overflow: unset !important;
  }
}

.tol-text-filter {
  // reduce padding on dropdown items
  .rs-dropdown-item {
    padding: 2px 10px !important;
  }

  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default {
    background-color: var(--bs-body-bg) !important;
    border: 1px solid var(--rs-border-primary) !important;
    color: var(--primary);
    height: 36px;
    width: 28px;
    margin-right: 4px;
    padding: 6px;
  }

  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default:hover,
  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default:focus {
    border: 1px solid var(--primary) !important;
  }

  .rs-dropdown-item-focus {
    background-color: var(--grey-subtle) !important;
    color: var(--primary) !important;
  }

  .rs-input-group.rs-input-group-inside {
    display: inline-block !important;
    width: 100% !important;
  }
}

.tol-num-filter {
  @extend .tol-text-filter;

  // re-position dropdown toggle inline with input
  .rs-dropdown-toggle.rs-dropdown-toggle-no-caret.rs-btn.rs-btn-default {
    top: -2px !important;
  }

  .rs-input-group.rs-input-group-inside {
    width: calc(100% - 32px) !important;
  }
}

// boolean filters
.rs-checkbox-checker:has(.tol-status) {
  // slim down statuses
  .tol-status .alert {
    padding: 2px 10px;
    margin: 2px;
  }

  .rs-checkbox-wrapper {
    top: 15px;
  }
}

.rs-check-item:has(.tol-status) {
  display: table-cell;
}

.rs-picker-check-menu:has(.tol-status) {
  padding-top: 4px;
}

// values shown in input box
.tol-boolean-filter:has(.tol-status) {
  .tol-status .alert {
    padding: 2px 10px;
    margin: 2px;
  }

  .rs-picker-toggle.rs-btn.rs-btn-default {
    padding: 2px;
    height: 36px;
  }
}
