/*
 * SPDX-FileCopyrightText: 2024 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.form-wrapper {
  padding: 10px 0;
  padding-bottom: 5px;

  .rs-form-group {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.tol-form-checkboxes-text {
  display: flex;
  flex-direction: column;
}

.tol-form-field-inline {
  margin-top: 20px !important;
}

.tol-form-field-inline {
  display: flex;
  align-items: center;
  gap: 0.5em;

  label {
    margin-bottom: 0 !important;
  }
}

.tol-form-label {
  display: flex;
  gap: 5px;
  align-items: center;

  &.inline {
    display: inline-flex;
    width: 140px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.tol-multiple-form-input-row {
  margin-top: 10px;
  display: flex;
  align-self: center;
  gap: 8px;
}

.tol-multiple-select-error-message .rs-form-error-message {
  margin-top: 11px;
}

.tol-required {
  color: var(--tol-danger);
  margin: 0 0.2rem;
}
