/*
 * SPDX-FileCopyrightText: 2024 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.form-wrapper {
  padding: 10px 0;
  padding-bottom: 5px;

  .rs-form-group {
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.tol-form-checkboxes-text {
  display: flex;
  flex-direction: column;
}
