/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@import "./_mixins.scss";

:root {
  --tol-radius: 6px;
  --tol-radius-2: calc(var(--tol-radius) * 2);
  --tol-margin: 6px;
  --tol-margin-2: calc(var(--tol-margin) * 2);
  --tol-padding: 6px;
  --tol-padding-2: calc(var(--tol-padding) * 2);
}

.tol-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--tol-side-nav-width));
}

.tol-app-content {
  margin: 10px;
  width: calc(100% - 20px);
  flex: 1 1 auto;
}

body {
  @include body-font;
  min-width: 350px;
  //background-color: var(--tol-primary-dark-subtle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

a {
  text-decoration: none;
  color: var(--tol-primary);
}

a:hover {
  text-decoration: none;
  color: var(--tol-primary-dark);
}

.header-text {
  font-size: 14px;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  color: var(--tol-emphasis);
}

.centre {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.config-position-wrapper {
  float: right;
  height: 25px;
}

#webpack-dev-server-client-overlay {
  position: unset !important;
}