/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */


body {
  @include body-font;
  min-width: 350px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

a {
  text-decoration: none;
  color: var(--tol-primary);
}

a:hover {
  text-decoration: none;
  color: var(--tol-primary-dark);
}

.header-text {
  font-size: 14px;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
  color: var(--bs-emphasis-color);
}

.centre {
  position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

.config-position-wrapper {
  float: right;
  height: 25px;
}

#webpack-dev-server-client-overlay {
  position: unset !important;
}
