/*
 * SPDX-FileCopyrightText: 2026 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-icon-link-texts-viewer {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.tol-icon-link-text {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .tol-icon {
    display: inline-flex;
    flex: 0 0 2rem;
    width: 2rem;
    justify-content: center;
  }

  .fa-github {
    color: var(--tol-brand-github);
  }

  .fa-gitlab {
    color: var(--tol-brand-gitlab);
  }

  .fa-linkedin {
    color: var(--tol-brand-linkedin);
  }

  .fa-facebook {
    color: var(--tol-brand-facebook);
  }

  .fa-discord {
    color: var(--tol-brand-discord);
  }

  .fa-slack {
    color: var(--tol-brand-slack);
  }

  .fa-bluesky {
    color: var(--tol-brand-bluesky);
  }

  .fa-weixin,
  .fa-wechat {
    color: var(--tol-brand-wechat);
  }
}
