/*
 * SPDX-FileCopyrightText: 2026 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-icon-link-texts-viewer {
  display: flex;
  flex-direction: column;
}

.tol-icon-link-text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
