/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 30px;
	height: 15px;
	margin: 12px;
}

.centered-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.fixed-full-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tol-bg);
  opacity: 0.5;

  .fixed-centered-loader {
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .fixed-centered-text {
    position: absolute;
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

.tol-loader {
  display: flex;
  justify-content: center;
  align-content: center;
}
