/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-map {
  height: 100%;
  width: 100%;
  border-radius: 6px;

  .info.legend {
    background-color: var(--tol-bg);
    color: var(--tol-text);
  }

  .tol-map-legend-item:not(:last-child) {
    margin-bottom: 6px;
  }
}

.marker-cluster {
  color: black;
}

.tol-map-popup .leaflet-popup-content-wrapper,
.tol-map-popup .leaflet-popup-tip {
  background-color: var(--tol-dark) !important;
  border: none !important;
  color: var(--tol-light) !important;
}

.map-selected {
  border: 3px solid var(--tol-primary);
  padding: 5px;
  border-radius: 6px;
}

.map-zoom-text {
  background-color: var(--tol-bg);
  color: var(--tol-text);
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  z-index: 1000;
  border-radius: 6px;
}