/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */


.tol-map {
    height: 100%;
    width: 100%;
    border-radius: 6px;
  }
  
.tol-map-pointer-icon {
  color: $primary;
}

.marker-cluster {
  color: black
}
