/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.wmde-markdown, 
.wmde-markdown-var {
  --color-accent-fg: var(--tol-primary);
}

.w-md-editor,
.wmde-markdown {
  --color-canvas-default: var(--tol-bg);
}

.tol-markdown {
  overflow: auto;
  .tol-markdown-viewer {
    border-radius: 6px;
    padding-left: 8px;
  }
}

.tol-hide-extra-viewer-buttons {
  display: block;
  margin-top: 2px;
  right: 15px;
  height: 25px;
  width: 100px;
  background-color: var(--tol-bg);
  position: absolute;
  z-index: 50;
}
