/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.wmde-markdown,
.wmde-markdown-var {
  --color-accent-fg: var(--tol-primary);
}

.w-md-editor,
.wmde-markdown {
  --color-canvas-default: var(--tol-bg);
}

.tol-markdown {
  overflow: auto;

  .tol-markdown-viewer {
    border-radius: var(--tol-border-radius);
  }
}

// code blocks
pre:has(code) {
  background-color: var(--tol-grey-translucent) !important;
  border: 1px solid var(--tol-grey-subtle) !important;
  border-radius: var(--tol-border-radius) !important;
}

.tol-form-markdown {
  margin-bottom: 10px !important;
}

.tol-form-markdown-help-text {
  margin-top: -6px;
}
