/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

header.masthead {
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg,
      darken($tol-primary, 20%) 0%,
      darken($tol-primary, 10%) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: auto;
  background-size: cover;

  .masthead-content {
    z-index: 1;
    position: relative;

    .masthead-heading {
      margin-bottom: 0;
      font-size: 3rem;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .masthead-subheading {
      margin-bottom: 0;
      font-size: 2rem;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: 800px) {
  header.masthead {
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }

      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}

.masthead-content li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba($tol-primary, 0.5);
  animation: animate 25s linear infinite;
  bottom: -200px;
  border-radius: 25%;
  z-index: -1;
}

.masthead-content li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.masthead-content li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.masthead-content li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.masthead-content li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.masthead-content li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.masthead-content li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.masthead-content li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.masthead-content li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.masthead-content li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.masthead-content li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}