/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

@mixin heading-font {
  font-family: "Lato" !important;
  font-weight: 800 !important;
}

@mixin body-font {
  font-family: "Lato" !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
