/*
 * SPDX-FileCopyrightText: 2026 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

 .tol-modal-inline-action-button {
    display: flex;
    justify-content: flex-end;
 }

 .tol-modal-action-button {
    margin: 6px;
 }