/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: fade-out($black, 0.3);
  backdrop-filter: blur(8px);

  .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 1000;
  }

  .navbar-brand:hover {
    color: var(--primary);
  }

  .nav-link {
    font-size: 14px;
    font-weight: bolder;
    padding: 6px 8px;
    color: var(--bs-navbar-brand-color);
    opacity: 0.6;
  }

  .nav-link {
    font-size: 14px;
    font-weight: bolder;
    padding: 6px 8px;
    color: var(--bs-navbar-brand-color);
    opacity: 0.6;
  }
  
  .nav-link:hover,
  .nav-link:active,
  .nav-link:focus {
    color: $primary;
    opacity: 1;
  }

  .logout.nav-link:hover {
    color: var(--bs-danger);
  }

  // login
  .nav-right.nav-link {
    opacity: 1;
  }

  // login hover
  svg:hover path.navbar-item-colour {
    fill: var(--primary);
  }

  .nav-right {
    margin-left: auto;
  }

  .dropdown-item {
    font-size: 14px;
  }

  // remove box around dropdown on focus
  .navbar-toggler:focus {
    box-shadow: none;
  }

  .nav-right {
    margin-left: auto;
  }

  .dropdown-item {
    font-size: 14px;
  }

  // remove box around dropdown on focus
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

.navbar-item-colour {
  fill: var(--bs-navbar-brand-color);
  color: var(--bs-navbar-brand-color);
}

.navbar-filler {
	height: 75px;
	width: 300px;
}

.nav-dropdown-box {
  margin-left: 5px;
}

.navigation {
  padding-bottom: 78px;

  a:active,
  a:focus {
    text-decoration: none;
  }
}

// remove border around mobile nav
.navbar-toggler {
  border: none;
}

// makes bottom sticky footer
.tol-app {
  margin: auto;
  min-height: calc(100vh - 270px);
}

.footer {
  height: 150px;
  margin-top: 40px;
  padding: 48px;
  background-color: black;
  color: white;
}

.footer-text {
  text-align: right;
  vertical-align: middle;
  margin-bottom: 0;
}


@media (max-width: 575px) {
  .footer-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  .footer {
    height: 250px;
  }
}

// sanger footer logo
.sanger-logo {
  width: 150px;
}

.sanger-logo:hover {
  cursor: pointer;

  .st1 {
    fill:#6680BA;
  }
  
  .st2 {
    fill:#2E3B87;
  }
  
  .st3 {
    fill:#B2C9D4;
  }  
}

.st0, // #242642
.st1,
.st2,
.st3 {
  fill: white;
}

.profile-dropdown {
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 12px;
    font-size: 14px;
    color: white;
  }

  .profile-details {
    text-align: center;
    
    .user-name {
      font-size: 14px;
      display: block;
      margin-bottom: 4px;
      font-weight: bolder;
    }
    
    .email {
      color: var(--rs-text-secondary);
    }
  }

  // circle initials override
  .rs-avatar.rs-avatar-sm.rs-avatar-circle,
  .initials-avatar {
    color: var(--bs-emphasis-color);
    background-color: var(--grey-subtle) !important;
  }

  @media(min-width: 992px) {
    .dropdown-menu {
      left: -100px
    }
  }
}
