/*
SPDX-FileCopyrightText: 2025 Genome Research Ltd.

SPDX-License-Identifier: MIT
*/

:root {
  &:has(.tol-side-nav) {
    --tol-side-nav-width: 220px;
    --tol-side-nav-display: block;
  }
  // background colour
  --rs-sidenav-inverse-bg: var(--tol-primary-dark-subtle);
}

.tol-side-nav {
  position: fixed;
  z-index: 1000;
  width: var(--tol-side-nav-width);
  height: 100vh;
  display: var(--tol-side-nav-display);
  padding: 8px 0 8px 8px;

  nav {
    height: 100%;
    border-radius: var(--tol-radius);
  }

  .tol-side-nav-header {
    text-transform: uppercase;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: var(--tol-primary-translucent);
    border-radius: var(--tol-radius);
    margin: var(--tol-margin) !important;

    img {
      transform: scale(1.2);
    }
  }

  .tol-side-nav-body {
    padding: var(--tol-margin);

    .tol-icon {
      margin-right: calc(var(--tol-margin) * 2);
    }

    .tol-side-nav-item {
      padding: var(--tol-padding-2) !important;
      margin-bottom: var(--tol-margin) !important;

      &:hover,
      &:focus,
      &:active {
        background-color: var(--tol-primary-translucent);
        border-radius: var(--tol-radius);
      }
    }
  }

  @media (max-width: 500px) {
    :root {
      --tol-side-nav-width: 0;
      --tol-side-nav-display: none;
    }
  }
}