/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-object-detail {
  padding: var(--tol-spacing-sm);

  &--columns {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
    gap: var(--tol-spacing-md);
  }

  &-column {
    min-width: 0;

    &--right {
      text-align: right;

      .tol-object-detail-field {
        justify-content: flex-end;
      }
    }
  }

  h2,
  .tol-object-detail-field {
    margin: 0;
  }

  .tol-object-detail-field {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: var(--tol-spacing-xs);
    }

    strong {
      flex: 0 0 auto;
      margin-right: var(--tol-spacing-sm);
    }

    .tol-data-points {
      min-width: 0;
    }
  }
}

