/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.plate{
  background-color: var(--tol-grey-translucent);
  border: 2px solid var(--tol-grey);
  border-radius: 6px;
  padding: 0px 12px;
}

.well{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--tol-grey);
}

.rLabels{
  min-width: 20vw !important; 
  min-height: 10vh !important;
  // padding: 100px;
  background-color: greenyellow;
}

.cLabels{
  width: 10%;
  background-color: pink;
}

.rows{
  display: flex;
  flex-direction: row;
}

.columns{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}