/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-table-expanded-row {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--tol-grey-translucent);
}