/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --rs-text-primary: var(--tol-text);
  --rs-tooltip-bg: var(--tol-emphasis);
  --rs-bg-overlay: var(--tol-bg);

  --rs-tooltip-text: var(--tol-bg);

  --rs-btn-link-text: var(--tol-primary);
  --rs-btn-primary-hover-bg: var(--tol-primary);
  --rs-btn-primary-bg: var(--tol-primary);
  --rs-calendar-cell-selected-hover-bg: var(--tol-primary);
  --rs-bg-active: var(--tol-primary);
  --rs-listbox-option-hover-text: var(--tol-primary);

  --rs-calendar-range-bg: var(--tol-primary-translucent);
  --rs-listbox-option-hover-bg: var(--tol-grey-translucent);

  // paragraph placeholder
  --rs-placeholder: var(--tol-grey);

  // timeline dot
  --rs-timeline-indicator-active-bg: var(--tol-primary);

  // multiple select tags
  --rs-picker-value: var(--tol-primary);
  --rs-picker-count-bg: var(--tol-primary);

  // multiselect search highlight
  --bs-highlight-bg: var(--tol-grey);
  --bs-highlight-color: var(--tol-text);

  .rs-picker-value-item {
    font-size: 14px !important;
  }

  // date picker extras
  --rs-checkbox-checked-bg: var(--tol-primary);
  --rs-input-focus-border: var(--tol-primary);
  --rs-btn-link-text: var(--tol-primary);
  --rs-text-active: var(--tol-primary);
  --rs-btn-link-hover-text: var(--tol-primary-hover);
  --rs-btn-link-active-text: var(--tol-primary-hover);

  .rs-input,
  .rs-input-group {
    @include body-font;
  }

  .rs-text,
  .rs-input:hover,
  .rs-input-group:hover,
  .rs-input:focus,
  .rs-input-group:focus,
  .rs-input-group:focus-within,
  .rs-picker-toggle-placeholder {
    @include body-font;
  }

  .rs-inline-edit {
    .rs-plaintext {
      border: 1px solid transparent !important;
      padding: 4px 6px;
    }

    input.rs-input {
      padding: 4px 6px;
    }
  }

  .rs-inline-edit .rs-plaintext:hover {
    border: 1px solid transparent !important;
  }

  .rs-picker-menu {
    z-index: 10000;
  }

  // dropdown
  .rs-picker-menu,
  .rs-dropdown-menu {
    border: 1px solid var(--tol-grey);
    background: var(--tol-bg) !important;
  }

  .rs-dropdown-item-focus {
    background: var(--tol-grey-translucent) !important;
  }

  .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input {
    border: 1px solid var(--tol-grey) !important;
  }

  .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input:hover {
    border: 1px solid var(--tol-primary) !important;
  }

  .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-input:focus {
    outline: none;
    border: 1px solid var(--tol-primary) !important;
  }

  .rs-picker-menu .rs-picker-search-bar {
    padding: 6px 6px 6px 6px;
  }

  .rs-picker-menu.rs-picker-select-menu,
  .rs-picker-menu.rs-picker-check-menu {
    padding-top: 0;
  }

  .rs-picker-menu .rs-picker-search-bar .rs-picker-search-bar-search-icon {
    top: 14px;
    right: 18px;
  }

  // loading wheel
  --rs-loader-rotor: var(--rs-text-secondary);

  // loading wheel backing
  .rs-loader-spin::before {
    border: 0;
  }

  // datetime picker inner borders
  .rs-picker-daterange-header {
    border-bottom: 1px solid var(--tol-grey);
  }

  .rs-picker-daterange-menu .rs-calendar:first-child {
    border-right: 1px solid var(--tol-grey);
  }

  .rs-picker-toolbar {
    border-top: 1px solid var(--tol-grey);
  }

  .rs-picker-toggle .rs-picker-toggle-placeholder {
    font-size: 1rem;
  }

  .rs-picker-value-item {
    font-size: 1rem;
  }

  // placeholders
  input::-webkit-input-placeholder {
    font-family: "Lato" !important;
    font-weight: 400 !important;
  }

  input:-moz-placeholder {
    font-family: "Lato" !important;
    font-weight: 400 !important;
  }

  // modal
  .rs-modal {
    margin: 30px auto 30px auto;
    transition: transform 0.3s ease-out, width 0.3s ease, height 0.3s ease;
    padding-right: 10px !important;

    // stop blue box showing on modal opening
    *:focus {
      outline: 0 !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .rs-modal-body {
    margin-top: 0;
    margin-bottom: 12px;
    padding-bottom: 0px;
  }

  // modal icon buttons
  .rs-modal-wrapper .rs-modal-footer .btn:has(svg) {
    padding: 0;
    height: 30px;
    width: 30px;
  }

  // tooltip
  --tol-tooltip-colour: var(--tol-dark);

  .rs-popover {
    background-color: var(--tol-tooltip-colour);
    color: var(--tol-light);
    border-radius: 6px;
    max-width: 300px;
    max-width: 40%;
  }

  .rs-popover-content {
    font-size: 14px;
    overflow: auto;
    overflow-wrap: break-word;

    p {
      margin: 0 !important;
    }
  }

  .rs-popover[class*="placement-left"]>.rs-popover-arrow::after {
    border-left-color: var(--tol-tooltip-colour);
    border-radius: 6px;
  }

  .rs-popover[class*="placement-top"]>.rs-popover-arrow::after {
    border-top-color: var(--tol-tooltip-colour);
    border-radius: 6px;
  }

  .rs-popover[class*="placement-right"]>.rs-popover-arrow::after {
    border-right-color: var(--tol-tooltip-colour);
    border-radius: 6px;
  }

  .rs-popover[class*="placement-bottom"]>.rs-popover-arrow::after {
    border-bottom-color: var(--tol-tooltip-colour);
    border-radius: 6px;
  }
}

// temporary - will need changing for scrollable columns
// full modal height changes
.rs-modal-full {
  height: auto;
  min-height: calc(600px - 60px);
  width: calc(100% - 60px);

  .rs-modal-dialog,
  .rs-modal-content {
    height: auto !important;
    overflow: hidden !important;
    border-radius: 6px;
  }

  // temporary
  .rs-modal-footer {
    padding-top: 45px;
  }
}

// ensure checkbox dropdowns are on top & are only as big as the content
.rs-anim-fade.rs-anim-in.rs-picker-check-menu.rs-picker-menu.placement-bottom-start {
  z-index: 1003;
  min-width: 0 !important;
}

// custom timeline icons
.rs-timeline-item-time {
  margin-left: -40px;
}

.rs-timeline-with-time.rs-timeline-align-left .rs-timeline-item-content {
  padding-left: 60px;
}

.rs-picker-select-menu-item-active {
  background-color: var(--tol-grey-translucent) !important;
  color: var(--tol-primary) !important;
  font-weight: normal;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  color: var(--tol-primary) !important;
}

.rs-form-control>.rs-input.rs-input:-webkit-autofill,
.rs-input.rs-input:-webkit-autofill:hover,
.rs-input.rs-input:-webkit-autofill:focus,
.rs-input.rs-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--rs-input-bg) inset;
  -webkit-text-fill-color: var(--rs-text-primary);
  box-shadow: 0 0 0px 1000px var(--rs-input-bg) inset;
}

.rs-form-control-label {
  margin-bottom: 6px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.rs-form-help-text {
  color: var(--tol-grey);
}

.rs-timeline-item-custom-dot .svg-inline--fa {
  height: 20px;
  width: 20px;
  border: 3px solid #ddd;
  border-radius: 50%;
  font-size: 18px;
  justify-content: center;
  padding: 8px;
  color: #999;
  left: calc(50%);
  top: -8px;
}

// radio buttons
.rs-radio.rs-radio-checked .rs-radio-inner::before {
  background-color: var(--tol-primary) !important;
  border-color: var(--tol-primary) !important;
}

.rs-radio-wrapper::before {
  border-color: var(--tol-primary) !important;
}

.rs-radio:hover .rs-radio-inner::before {
  border-color: var(--tol-primary) !important;
}

@media screen and (max-width: 768px) {
  .rs-timeline-item-time {
    margin-left: -30px;
  }

  .rs-timeline-with-time.rs-timeline-align-left .rs-timeline-item-content {
    padding-left: 50px;
  }
}

// checkboxes on table
.rs-checkbox.rs-checkbox-disabled.rs-checkbox-checked {
  filter: grayscale(100%);
}

// checkboxes on pickers
.rs-checkbox-disabled:not(.rs-checkbox-checked):not(.rs-checkbox-indeterminate) .rs-checkbox-control .rs-checkbox-inner::before {
  background-color: var(--rs-input-disabled-bg) !important;
  border-color: var(--rs-input-disabled-bg) !important;
}

// highlighting inside multiselect search
.rs-highlight-mark {
  background-color: var(--bs-highlight-bg);
}

.rs-drawer-open {
  .rs-anim-fade.rs-anim-in.rs-picker-check-menu.rs-picker-popup.placement-bottom-start {
    margin-right: 28px;
  }
}

// drawer and modal overlay switch
.rs-modal-backdrop {
  backdrop-filter: blur(3px);
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.3);
}

.rs-drawer-backdrop {
  backdrop-filter: blur(3px);
  z-index: 1049;
  background-color: rgba(0, 0, 0, 0.3);
}

// tabs
.rs-nav-item {
  color: var(--tol-text);
}

.rs-nav-item.rs-nav-item-active {
  color: var(--tol-primary);
  font-weight: bolder;
}

.rs-nav-tabs .rs-nav-item:not(.rs-nav-item-active):hover {
  background-color: var(--tol-bg-dark);
  color: var(--tol-primary);
}

// drawer on mobile
@media (max-width: 700px) {
  .rs-drawer {
    width: 100% !important;
  }
}

@media (prefers-color-scheme: dark) {
  .rs-form-help-text {
    color: var(--tol-grey-light);
  }
}

// dropdowns
.rs-picker-popup {
  background-color: var(--tol-grey-subtle) !important;
  border: var(--tol-grey) 1px solid !important;
}

// dropdown icons
.rs-dropdown-item:hover,
.rs-dropdown-item:focus {
  path {
    fill: var(--tol-primary);
  }
}

// inline edit
.rs-inline-edit-controls .rs-btn {
  background-color: var(--tol-bg) !important;
  border: 1px solid var(--tol-grey) !important;
  height: 30px !important;
  width: 30px !important;

  svg {
    fill: var(--tol-primary) !important;
  }

  &[aria-label="Save"] {
    svg {
      fill: var(--tol-success) !important;
    }
  }
  &[aria-label="Cancel"] {
    svg {
      fill: var(--tol-danger) !important;
    }
  }
}