/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-socialviewer-parent {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  h6 {
    margin-bottom: 0;
  }

  .icon {
    color: var(--tol-text);
    align-self: center;
  }
}

.tol-socialviewer-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.tol-socialviewer-parent .tol-socialviewer-child {
  display: flex;
  gap: 0.25rem;
}
