/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-tabs {
  .rs-nav-pills {
    @extend .tol-widget;
    padding: 4px !important;
    margin: 0 !important;

    .rs-nav-item {
      color: var(--tol-text);

      &:not(:first-child) {
        margin-left: 4px;
      }

      &.rs-nav-item-active {
        color: var(--tol-primary);
        background-color: var(--tol-primary-translucent);
        border: 1px solid var(--tol-primary-translucent);
      }

      &.rs-nav-item-disabled {
        color: var(--tol-grey);
      }

      &:not(.rs-nav-item-disabled) {
        border: 1px solid transparent;

        &:hover {
          border-color: var(--tol-grey-translucent);
        }
      }

      &:hover {
        color: var(--tol-primary);
      }
    }

    &.rs-nav-horizontal {
      overflow-x: auto;
      white-space: nowrap;
      max-width: 100%;
      display: block;
    }
  }
}

.tol-tabs-nav {
  overflow: auto;
  display: flex;
  border-radius: 6px;

  // Remove the second border for the input
  .rs-input {
    border: unset !important;
  }

  .tol-tabs-nav-icon {
    justify-content: center;
    align-content: center;
    margin-right: 6px;
    color: var(--tol-grey);
  }

  .tol-tabs-nav-button:not(.active) {
    font-weight: 200 !important;
  }
}