/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  // pagination
  --rs-btn-ghost-text: var(--tol-primary);
  --rs-btn-ghost-border: var(--tol-primary);
  --rs-btn-ghost-hover-text: var(--tol-primary);
  --rs-btn-ghost-hover-border: var(--tol-primary);
  --rs-btn-ghost-hover-border: var(--tol-primary);
  --rs-btn-ghost-active-border: var(--tol-primary);
  --rs-btn-ghost-active-text: var(--tol-primary);
  --rs-btn-subtle-active-bg: initial;

  --rs-btn-subtle-hover-bg: var(--tol-grey-translucent);

  // page size
  span.rs-picker-select-menu-item-active.rs-picker-select-menu-item-focus {
    background-color: var(--tol-grey-translucent) !important;
    color: var(--tol-primary) !important;
    font-weight: normal;
  }

  // page size dropdown
  .rs-picker-select-menu-item:hover {
    background-color: var(--tol-grey) !important;
  }

  // dropdown box shadow
  .rs-dropdown.rs-dropdown-menu {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
      0 4px 4px rgba(255, 255, 255, 0.12) !important;
  }

  .tol-pagination {
    .rs-pagination-btn {
      border: 1px solid var(--tol-bg);
    }

    .rs-pagination-btn.rs-pagination-btn-active {
      border: 1px solid var(--tol-grey);
    }

    .rs-pagination-btn.rs-pagination-btn-active:hover,
    .rs-pagination-btn.rs-pagination-btn-active:focus {
      border: 1px solid var(--tol-primary);
      box-shadow: none;
    }

    .rs-pagination-btn:disabled {
      border: none;
      box-shadow: none;
    }

    .rs-pagination-btn:hover,
    .rs-pagination-btn:focus {
      background-color: var(--tol-grey-subtle);
    }
  }

  .config-modal-overflow-fix {
    max-height: 80vh;

    .rs-modal-body {
      max-height: 58vh;
    }

    .rs-modal-footer {
      padding-top: 25px !important;
    }
  }

  .tol-table {
    display: flex;
    flex-direction: column;
    position: relative;

    .tol-table-inner {
      flex: 1;
      position: relative;

      .rs-table {
        border-radius: 6px;
        border: 1px solid var(--tol-grey);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    // field name titles
    p {
      margin: 0;
      margin-bottom: 4px;
    }

    .rs-table-cell {
      border-bottom: transparent;
    }

    // text properties
    font-size: 14px;
    color: var(--tol-text);

    // cells
    .rs-table-body-row-wrapper .rs-table-cell {
      font-size: 14px;
      color: var(--tol-text);
      background: var(--tol-bg);
    }

    .rs-table-cell-full-text:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .rs-table-cell.rs-table-cell-full-text {
      background-color: var(--tol-bg);
    }

    .rs-table-cell:hover {
      outline: 1px dashed var(--tol-text) !important;
      outline-offset: -2px;
      border-radius: 6px;
    }

    // header
    .rs-table-header-row-wrapper {
      font-size: 14px;
      font-weight: bolder;
      color: var(--tol-emphasis);
    }

    .tol-header-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 30px;
      width: 100%;
    }

    .tol-header-info {
      position: absolute;
      right: 0;
      padding-right: 22px;
      margin-top: -2px;
    }

    // header color
    .rs-table-cell-header .rs-table-cell-content,
    .rs-table-header-row-wrapper .rs-table-row.rs-table-row-header {
      background-color: var(--tol-grey-subtle) !important;

      .rs-table-cell {
        background-color: transparent !important;
      }
    }

    // rows per page
    .tol-page-size {
      float: left;
    }

    // filter show and hide
    .tol-filter {
      margin-top: 5px;
    }

    .tol-filter-hide {
      display: none;
    }

    // row hover
    --rs-state-hover-bg: none;

    // row resize
    --rs-row-resize: var(--tol-primary);
    --rs-table-resize: var(--tol-primary);

    // scroll bar
    --rs-table-scrollbar-track: none;
    --rs-table-scrollbar-vertical-track: none;

    // remove rsuite sort arrows
    .rs-table-cell-header-sort-wrapper {
      display: none;
    }

    .tol-sorting-arrows {
      position: absolute;
      right: 12px;
      top: 10px;
    }

    .tol-sorting-arrow-active {
      color: var(--tol-primary);
    }

    // inner table loader
    .tol-placeholder-icons .loader {
      top: -150px;
    }

    // slim down statuses
    .tol-status .alert {
      padding: 5px 10px;
    }

    // re-position the checkboxes
    .tol-row-selection .rs-checkbox-checker {
      margin-top: -6px;
    }
  }

  .tol-table-full {
    @extend .tol-table;
    height: 100%;
  }

  // link box (e.g. relationship)
  .link-box {
    border-radius: 6px;
    background-color: rgba($tol-primary, 0.1) !important;
    padding: 5px 10px;
    border: 1px solid rgba($tol-primary, 0.2);
  }

  .link-box:hover {
    background-color: rgba($tol-primary, 0.2) !important;
  }

  .link-box.clickable {
    cursor: pointer;
  }

  // list cellRenderer
  .simple-tag {
    background-color: var(--tol-bg-dark);
    color: var(--tol-emphasis);
    border-radius: 6px;
    padding: 4px 6px;
    margin: 2px;
    float: left;
    display: table-cell;
  }

  .rs-table-cell-wrap,
  .simple-tag-container {
    display: table-cell;
  }

  // expander cellRenderer
  .copy-icon {
    svg {
      margin: 0px 10px;
      color: var(--tol-grey) !important;
    }

    svg:hover {
      color: var(--tol-primary) !important;
      cursor: pointer;
    }
  }
}

// cell loader
.loading-cell {
  height: 32px;

  .spinner-border.spinner-border-sm {
    margin: 8px;
  }
}

// tooltip
.tooltip-contents {
  overflow: auto;
  max-height: 200px;
}

.formatted-tooltip {
  margin: 5px;
}

.tooltip-key {
  margin-right: 5px;
  font-size: small;
}

.tooltip-value {
  font-size: small;
  padding-right: 10px;
  color: var(--tol-primary);
}

.tooltip-value-none {
  color: var(--tol-grey);
  font-weight: 400;
}

.tooltip-wrapper {
  display: inline-block;
  fill: var(--tol-text);
}

// EntityMetaToolTip

.tol-entity-meta-tool-tip-source {
  width: fit-content;
  display: inline;
}

.inline-source {
  height: 10px;
  width: 2px;
  margin-right: 3px;
  border-radius: 2px;
  display: inline-block;
}

// config modal
.clear-saved-config.btn.btn-warning {
  color: white !important;
  fill: white !important;

  svg {
    margin-left: 6px;
  }
}

// row selection
.tol-selected-row .rs-table-cell {
  background-color: var(--tol-primary-translucent) !important;
}

.tol-selected-row.disabled {
  filter: grayscale(100%);
}

.tol-selected-row:hover {
  background-color: var(--tol-primary-translucent) !important;
}

// download modal
.tol-download-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.rs-table-cell-content:has(.tol-cell-renderer-integer) {
  justify-items: end !important;
  padding-right: 25px !important;
}

.tol-code-block {
  .token.token {
    color: var(--tol-primary) !important;
  }

  .token.token.punctuation {
    color: var(--tol-text) !important;
  }

  .token.token.operator {
    color: var(--tol-text) !important;
  }

  span {
    font-family: monospace;
    color: var(--tol-text);
    background-color: var(--tol-bg-dark) !important;
    overflow: auto;
  }
}

.tol-download-progress-figures {
  text-align: center;

  .tol-download-complete {
    color: var(--tol-primary);
    margin-top: 10px;
  }

  .tol-download-figure-spacer {
    margin-left: 12px;
  }
}

.tol-download-progress-message {
  text-align: center;
  margin-top: 30px;
  color: var(--tol-warning);
}

.tol-table-row-counter {
  z-index: 2;
  border-radius: 6px;
  background-color: var(--tol-grey-translucent);
  position: absolute;
  bottom: 6px;
  right: 6px;
  top: auto;
  left: auto;
  padding: 4px 8px;
  backdrop-filter: blur(8px);
}

.tol-table-image-cell-arrow {
  cursor: pointer;
  color: var(--tol-text);
}

.tol-table-image-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  width: 250px;
  height: 100px;
  background: red;
}

.tol-table-image-cell-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.tol-table-image-modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

// pagination buttons on smaller devices
@media (max-width: 992px) {
  .tol-table .config-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .tol-pagination {
    margin-top: 4px !important;
  }
}
