/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  // pagination
  --rs-btn-ghost-text: var(--tol-primary);
  --rs-btn-ghost-border: var(--tol-primary);
  --rs-btn-ghost-hover-text: var(--tol-primary);
  --rs-btn-ghost-hover-border: var(--tol-primary);
  --rs-btn-ghost-hover-border: var(--tol-primary);
  --rs-btn-ghost-active-border: var(--tol-primary);
  --rs-btn-ghost-active-text: var(--tol-primary);
  --rs-btn-subtle-active-bg: initial;

  --rs-btn-subtle-hover-bg: var(--tol-grey-translucent);

  // page size
  span.rs-picker-select-menu-item-active.rs-picker-select-menu-item-focus {
    background-color: var(--tol-grey-translucent) !important;
    color: var(--tol-primary) !important;
    font-weight: normal;
  }

  // page size dropdown
  .rs-picker-select-menu-item:hover {
    background-color: var(--tol-grey-translucent) !important;
  }

  // dropdown box shadow
  .rs-dropdown.rs-dropdown-menu {
    box-shadow:
      0 0 10px rgba(255, 255, 255, 1),
      0 4px 4px rgba(255, 255, 255, 0.12) !important;
  }

  .tol-pagination {
    .rs-pagination-btn {
      border: 1px solid var(--tol-bg);
    }

    .rs-pagination-btn.rs-pagination-btn-active {
      border: 1px solid var(--tol-grey);
    }

    .rs-pagination-btn.rs-pagination-btn-active:hover,
    .rs-pagination-btn.rs-pagination-btn-active:focus {
      border: 1px solid var(--tol-primary);
      box-shadow: none;
    }

    .rs-pagination-btn:disabled {
      border: none;
      box-shadow: none;
    }
  }

  .config-modal-overflow-fix {
    max-height: 80vh;

    .rs-modal-body {
      max-height: 58vh;
    }

    .rs-modal-footer {
      padding-top: 25px !important;
    }
  }

  .tol-table {
    display: flex;
    flex-direction: column;
    position: relative;

    .tol-table-inner {
      flex: 1;
      position: relative;

      .rs-table {
        border-radius: var(--tol-border-radius);
        border: 1px solid var(--tol-grey);
        box-shadow: var(--tol-shadow-subtle);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    // field name titles
    p {
      margin: 0;
      margin-bottom: 4px;
    }

    .rs-table-cell {
      background-color: unset !important;
    }

    // text properties
    font-size: 14px;
    color: var(--tol-text);

    // cells
    .rs-table-body-row-wrapper .rs-table-cell {
      font-size: 14px;
      color: var(--tol-text);
    }

    .rs-table-cell-full-text:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .rs-table-cell.rs-table-cell-full-text {
      background-color: var(--tol-bg);
    }

    // header
    .rs-table-header-row-wrapper {
      font-size: 14px;
      font-weight: bolder;
      color: var(--tol-emphasis);
    }

    .tol-header-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 20px;
      width: 100%;
    }

    .tol-header-info {
      position: absolute;
      right: 0;
      padding-right: 22px;
      margin-top: -2px;
    }

    // header color
    .rs-table-cell-header .rs-table-cell-content,
    .rs-table-header-row-wrapper .rs-table-row.rs-table-row-header {
      background-color: var(--tol-grey-subtle) !important;

      .rs-table-cell {
        background-color: transparent !important;
      }
    }

    .rs-table-body-row-wrapper .rs-table-cell-content {
      padding: 12px !important;
    }

    // rows per page
    .tol-page-size {
      float: left;
    }

    // filter show and hide
    .tol-filter {
      margin-top: 5px;
    }

    .tol-filter-hide {
      display: none;
    }

    // row hover
    --rs-state-hover-bg: var(--tol-grey-subtle-plus);

    // row resize
    --rs-row-resize: var(--tol-grey);
    --rs-table-resize: var(--tol-grey);

    // scroll bar
    --rs-table-scrollbar-track: none;
    --rs-table-scrollbar-vertical-track: none;

    // remove rsuite sort arrows
    .rs-table-cell-header-sort-wrapper {
      display: none;
    }

    .tol-sorting-arrows {
      position: absolute;
      right: 22px;
      top: 10px;
    }

    .tol-sorting-arrow-active {
      color: var(--tol-primary);
    }

    // inner table loader
    .tol-placeholder-icons .loader {
      top: -150px;
    }

    // slim down statuses
    .tol-status .alert {
      padding: 5px 10px;
    }

    .rs-table-cell-content:has(.tol-table-row-selection) {
      padding-top: 30px;
      padding: 6px !important;
    }

    // Expanded row height
    .rs-table-row-expanded:has(.tol-table-expanded-row) {
      padding: 0 !important;
    }

    .tol-row-expand-btn {
      cursor: pointer;
      color: var(--tol-grey);

      &:hover {
        color: var(--tol-primary);
      }
    }

    .tol-table-row-selection {
      .rs-checkbox-checker,
      .rs-checkbox-control,
      input {
        position: relative;
        padding: unset;
        min-height: unset;
        min-width: unset;
        top: unset;
        left: 1px !important;
        right: unset;
        bottom: unset;
        width: 24px;
        height: unset;
      }
    }

    .tol-row-tools-header,
    .tol-row-tools-cell {
      .tol-row-expand-btn {
        position: relative;
        top: 1.5px;
      }
    }
  }

  .tol-table-full {
    @extend .tol-table;
    height: 100%;
  }

  // expander cellRenderer
  .copy-icon {
    svg {
      margin: 0px 10px;
      color: var(--tol-grey) !important;
    }

    svg:hover {
      color: var(--tol-primary) !important;
      cursor: pointer;
    }
  }
}

.tol-table-reset-config {
  .tol-table-reset-config-headings {
    margin-top: 8px !important;
  }

  .tol-table-reset-config-additions {
    margin-bottom: 8px !important;
  }

  .tol-attribute-title {
    p {
      margin-bottom: 0 !important;
    }
  }  

  .tol-danger-colour {
    margin-top: 8px;
  }
}

// cell loader
.loading-cell {
  height: 32px;

  .spinner-border.spinner-border-sm {
    margin: 8px;
  }
}

// tooltip
.tooltip-contents {
  overflow: auto;
  max-height: 300px;
}

.formatted-tooltip {
  margin: 5px;
}

.tooltip-key {
  margin-right: 5px;
}

.tooltip-value {
  padding-right: 10px;
  color: var(--tol-primary);
}

.tol-none-value {
  color: var(--tol-grey);
  font-weight: 400;
  cursor: default;
}

.tooltip-wrapper {
  display: inline-block;
  fill: var(--tol-text);
  cursor: default;
}

.tol-attribute-tooltip-source {
  width: fit-content;
  display: inline;
}

.tol-attribute-tooltip-divider {
  width: 100%;
  height: 0;
  margin: 6px 0;
  border-top: 1px solid var(--tol-border);
}

.tol-attribute-tooltip-stats-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 14px 14px;
  margin-top: 4px;
}

.tol-attribute-tooltip-stat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 4px 6px;
  border-radius: var(--tol-border-radius);
  color: var(--tol-light);
  font-weight: normal;
  font-size: 12px;
}

.tol-attribute-tooltip-stat-label {
  letter-spacing: 0.2px;
}

.tol-attribute-tooltip-stat-value {
  font-weight: normal;
}

.tol-attribute-tooltip-stat-card--min {
  background-color: var(--tol-success-dark);
}

.tol-attribute-tooltip-stat-card--max {
  background-color: var(--tol-danger-dark);
}

.tol-attribute-tooltip-stat-card--avg {
  background-color: var(--tol-info-dark);
}

.tol-attribute-tooltip-stat-card--sum {
  background-color: var(--tol-royal-dark);
}

.tol-attribute-tooltip-stats-box {
  margin-top: 0;
  padding: 3px 12px 14px;
  border-radius: var(--tol-border-radius);
  background: var(--tol-grey-translucent);
}

.tol-field-dropdown {
  position: absolute;
  top: 7px;
  right: 6px;
  cursor: pointer;
}

.rs-dropdown-toggle.rs-dropdown-toggle-no-caret {
  padding: 5px;
}

.rs-dropdown-toggle.rs-dropdown-toggle-no-caret:hover,
.rs-dropdown-toggle.rs-dropdown-toggle-no-caret:focus,
.rs-dropdown-toggle.rs-dropdown-toggle-no-caret:active {
  background-color: unset;

  path {
    fill: var(--tol-primary);
  }
}

span.rs-dropdown-toggle-icon {
  color: var(--tol-text);
}

// config modal
.clear-saved-config.btn.btn-warning {
  color: white !important;
  fill: white !important;

  svg {
    margin-left: 6px;
  }
}

// row selection
.tol-selected-row {
  background-color: var(--tol-primary-translucent) !important;
}

.tol-selected-row.disabled {
  filter: grayscale(100%);
}

.tol-selected-row:hover {
  background-color: var(--tol-primary-translucent) !important;
}

// download modal
.tol-download-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.rs-table-cell-content:has(.tol-data-point-renderer-integer) {
  justify-items: end !important;
  padding-right: 25px !important;
}

.tol-code-block {
  .token.token {
    color: var(--tol-primary) !important;
  }

  .token.token.punctuation {
    color: var(--tol-text) !important;
  }

  .token.token.operator {
    color: var(--tol-text) !important;
  }

  span {
    font-family: monospace;
    color: var(--tol-text);
    background-color: var(--tol-bg-dark) !important;
    overflow: auto;
    border-radius: var(--tol-border-radius) !important;
  }
}

.tol-download-progress-figures {
  text-align: center;

  .tol-download-complete {
    color: var(--tol-primary);
    margin-top: 10px;
  }

  .tol-download-figure-spacer {
    margin-left: 12px;
  }
}

.tol-download-progress-message {
  text-align: center;
  margin-top: 30px;
  color: var(--tol-warning);
}

.tol-table-row-counter {
  z-index: 2;
  border-radius: var(--tol-border-radius);
  background-color: var(--tol-grey-translucent);
  position: absolute;
  bottom: 6px;
  right: 6px;
  top: auto;
  left: auto;
  padding: 4px 8px;
  backdrop-filter: blur(3px);
}

// pagination buttons on smaller devices
@media (max-width: 992px) {
  .tol-table .config-button {
    margin-bottom: 10px;
  }
}
