/*
 * SPDX-FileCopyrightText: 2023 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  // pagination
  --rs-btn-ghost-text: var(--primary);
  --rs-btn-ghost-border: var(--primary);
  --rs-btn-ghost-hover-text: var(--primary);
  --rs-btn-ghost-hover-border: var(--primary);
  --rs-btn-ghost-hover-border: var(--primary);
  --rs-btn-ghost-active-border: var(--primary);
  --rs-btn-ghost-active-text: var(--primary);
  --rs-btn-subtle-active-bg: initial;
  
  --rs-btn-subtle-hover-text: var(--bs-bg-color);
  --rs-btn-subtle-hover-bg: var(--grey-opaque);

  // page size
  span.rs-picker-select-menu-item-active.rs-picker-select-menu-item-focus {
    background-color: var(--grey-opaque) !important;
    color: var(--primary) !important;
    font-weight: normal;
  }

  // page size dropdown
  .rs-picker-select-menu-item:hover {
    background-color: var(--grey-subtle) !important;
  }

  // dropdown box shadow
  .rs-dropdown.rs-dropdown-menu {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 4px 4px rgba(255, 255, 255, 0.12) !important;
  }

  .tol-pagination {
    margin-top: -2px;
    margin-bottom: 10px;
    float: left;
  
    .rs-pagination-btn {
      border: 1px solid var(--bs-body-bg);
    }
    .rs-pagination-btn.rs-pagination-btn-active {
      border: 1px solid var(--grey-emphasis);
    }
  
    .rs-pagination-btn.rs-pagination-btn-active:hover,
    .rs-pagination-btn.rs-pagination-btn-active:focus {
      border: 1px solid var(--primary);
      box-shadow: none;
    }

    .rs-pagination-btn:disabled {
      border: none;
      box-shadow: none;
    }
  }

  .tol-table {
    display: flex;
    flex-direction: column;
  
    .tol-table-inner {
      flex: 1;
      position: relative;
    
      .rs-table {
        border-radius: 6px;
        border: 1px solid var(--grey-subtle);

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    // field name titles
    p {
      margin: 0;
      margin-bottom: 4px;
    }

    .rs-table-cell {
      border-bottom: transparent;
    }

    .rs-table-row {
      border-bottom: 1px solid var(--grey-subtle);
    }

    /*
    // dealing with automatic rows
    .rs-table-row:not(.rs-table-row.rs-table-row-header) {
      background-color: red;
      height: auto !important;
      display: table !important;
      //border-bottom: 1px solid var(--grey-subtle);

      .rs-table-cell-group,
      .rs-table-cell,
      .rs-table-cell-content {
        display: table-row !important;
        background-color: darkblue;
        height: 200px !important;
        overflow: auto;
      }
    }
    */

    // text properties
    font-size: 14px;
    color: var(--bs-body-color);

    // cells
    .rs-table-body-row-wrapper .rs-table-cell {
      font-size: 14px;
      color: var(--bs-body-color);
      background-color: var(--bs-bg-color);
    }

    .rs-table-cell-full-text:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .rs-table-cell.rs-table-cell-full-text {
      background-color: $bs-body-bg;
    }

    .rs-table-cell:hover {
      outline: 1px dashed var(--bs-body-color) !important;
      outline-offset: -2px;
      border-radius: 6px;
    }

    // header
    .rs-table-header-row-wrapper {
      font-size: 14px;
      font-weight: bolder;
      color: var(--bs-emphasis-color);
    }

    .tol-table-header {
      height: 28px;
    }

    .tol-header-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 30px;
      width: 100%;
    }

    .tol-header-info {
      position: absolute;
      right: 0;
      padding-right: 18px;
      margin-top: -2px;
    }
    
    // header color
    .rs-table-cell-header .rs-table-cell-content,
    .rs-table-header-row-wrapper .rs-table-row.rs-table-row-header {
      background-color: $grey-subtle !important;

      .rs-table-cell {
        background-color: transparent !important;
      }
    }

    // number of rows total
    .tol-total {
      float: left;
      margin-top: 3px;
      margin-left: 4px;
      margin-right: 12px;
    }

    // rows per page
    .tol-page-size {
      float: left;
      margin-top: -2px;
    }

    // filter show and hide
    .tol-filter {
      margin-top: 5px;
    }

    .tol-filter-hide {
      display: none;
    }

    // row hover
    --rs-state-hover-bg: var(--grey-opaque);

    // row resize
    --rs-row-resize: var(--primary);
    --rs-table-resize: var(--primary);

    // sort arrows
    --rs-table-sort: var(--primary);

    // scroll bar
    --rs-table-scrollbar-track: none;
    --rs-table-scrollbar-vertical-track: none;

    // sort arrows
    .rs-table-cell-header-sort-wrapper {
      position: absolute;
      top: 0;
      right: 0;
    }

    // inner table loader
    .tol-placeholder-icons .loader {
      top: -150px
    }

    // slim down statuses
    .tol-status .alert {
      padding: 5px 10px;
    }

    // re-position the checkboxes
    .tol-row-selection .rs-checkbox-checker {
      margin-top: -6px;
    }
  }

  // link box (e.g. relationship)
  .link-box {
    border-radius: 6px;
    background-color: rgba($primary, 0.1) !important;
    padding: 5px 10px;
    border: 1px solid rgba($primary, 0.2);
  }

  .link-box:hover {
    background-color: rgba($primary, 0.2) !important;
  }

  .link-box.clickable {
    cursor: pointer;
  }

  // list cellRenderer
  .simple-tag {
    background-color: var(--bs-body-darker);
    color: var(--bs-emphasis-color);
    border-radius: 6px;
    padding: 4px 6px;
    margin: 2px;
    float: left;
    display: table-cell;
  }

  .rs-table-cell-wrap,
  .simple-tag-container {
    display: table-cell;
  }

  // expander cellRenderer
  .copy-icon {
    svg {
      margin: 0px 10px;
      color: var(--grey-emphasis) !important;
    }

    svg:hover {
      color: var(--primary) !important;
      cursor: pointer;
    }
  }
}

// cell loader
.loading-cell {
  height: 32px;

  .spinner-border.spinner-border-sm {
    margin: 8px;
  }
}

// tooltip
.tooltip-contents {
  overflow: auto;
  max-height: 200px;
}

.formatted-tooltip {
  margin: 5px;
}

.tooltip-key {
  margin-right: 5px;
  font-size: small;
  font-weight: 1000;
}

.tooltip-value {
  font-size: small;
  padding-right: 10px;
}

.tooltip-value-none {
  color: var(--grey-emphasis);
  font-weight: 400;
}

.tooltip-wrapper {
  display: inline-block;
  fill: var(--bs-body-color);
}

// config modal
.clear-saved-config.btn.btn-warning {
  color: white !important;
  fill: white !important;

  svg {
    margin-left: 6px;
  }
}

// row selection
.tol-selected-row {
  background-color: var(--primary-opaque);
}

.tol-selected-row.disabled {
  filter: grayscale(100%);
}

.tol-selected-row:hover {
  background-color: var(--primary-opaque) !important;
}

// pagination buttons on smaller devices
@media (max-width: 992px) {
  .tol-table .config-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .tol-pagination {
    margin-top: 4px !important;
  }

  .tol-skip .tol-pagination {
    margin-top: -2px !important;
  }
}