/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-tabs {
  .rs-nav.rs-nav-vertical {
     max-height: fit-content !important;
  }

  .rs-nav-pills {
    @extend .tol-widget;
    padding: 4px !important;
    margin: 0 !important;

    &:not(.rs-nav-vertical) .rs-nav-item:not(:first-child) {
      margin-left: 4px;
    }

    .rs-nav-item {
      color: var(--tol-text);
      border-radius: var(--tol-border-radius);

      &.rs-nav-item-active {
        color: var(--tol-primary);
        background-color: var(--tol-primary-translucent);
        border: 1px solid var(--tol-primary-translucent);
        border-radius: var(--tol-border-radius);
        font-weight: normal;
        text-shadow: 0.5px 0 0 currentColor;
      }

      &.rs-nav-item-disabled {
        color: var(--tol-grey);
      }

      &:not(.rs-nav-item-disabled) {
        border: 1px solid transparent;

        &:hover {
          border-color: var(--tol-grey-translucent);
        }
      }

      &:hover {
        color: var(--tol-primary);
      }
    }

    &.rs-nav-horizontal {
      overflow-x: auto;
      white-space: nowrap;
      max-width: 100%;
      display: block;
    }
  }
}

.tol-tabs-nav {
  overflow: auto;
  display: flex;
  margin-right: 6px;

  // Ensure shadows are visible top and bottom of the tabs
  padding: 6px 0;

  // Remove the second border for the input
  .rs-input {
    border: unset !important;
  }

  .tol-view-tab:has(.tol-editable-title) {
    margin: 0;
    padding: 0;
  }

  .tol-view-tab {
    border-radius: var(--tol-border-radius) !important;

    &:hover,
    &:focus,
    &:active {
      border-radius: var(--tol-border-radius) !important;
    }
  }

  .tol-tabs-nav-tab {
    display: flex;
    align-items: center;

    .tol-editable-title {
      min-width: max-content;
    }
  }

  .tol-tabs-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    color: var(--tol-grey);

    .tol-grip {
      cursor: grab;
    }
  }
}
