/*
SPDX-FileCopyrightText: 2022 Genome Research Ltd.

SPDX-License-Identifier: MIT
*/

.tol-timeline {
  padding: var(--tol-spacing-sm);

  .tol-timeline-marker {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--tol-timeline-color, var(--tol-grey));
    color: var(--tol-light);
  }

  .tol-timeline-marker-icon {
    width: 30px;
    height: 30px;
    transform: translate(-10px, -10px);

    .svg-inline--fa {
      width: 14px;
      height: 14px;
      border: 0;
      padding: 0;
      color: inherit;
    }
  }
}
