/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.driver-popover {
  background-color: var(--tol-bg) !important;
  color: var(--tol-text) !important;
  border-radius: var(--tol-border-radius) !important;
}

.driver-popover-arrow-side-top {
  border-top-color: var(--tol-bg) !important;
}

.driver-popover-arrow-side-bottom {
  border-bottom-color: var(--tol-bg) !important;
}

.driver-popover-arrow-side-left {
  border-left-color: var(--tol-bg) !important;
}

.driver-popover-arrow-side-right {
  border-right-color: var(--tol-bg) !important;
}

.driver-popover-footer {
  // We can't use the Buttom component in the popover. Instead we must use the ones already there,
  // and adapt the styles to look as similar as possible. We can extend of the necessary classes
  // (see below), but there are some override rules here to "fudge" the difference.
  button {
    font-family: 'Lato' !important;
    font-size: 14px !important;
    
    // This doesn't match the usual buttons but the small amount of padding looked weird.
    // We would usually use icons with a tooltip so wouldn't encounter this
    padding: 10px !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .driver-popover-next-btn {
    @extend .icon-button-primary-md;
  }

  .driver-popover-prev-btn {
    @extend .icon-button-primary-md-outline;
  }
}
