/*
 * SPDX-FileCopyrightText: 2025 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

:root {
  --tol-utility-bar-height: 30px;
  --tol-utility-bar-margin: 6px;
  --tol-utility-bar-offset: calc(var(--tol-utility-bar-height) + var(--tol-utility-bar-margin));
}

.tol-utility-bar {
  margin-bottom: var(--tol-utility-bar-margin);
  display: flex;
  flex-direction: row;
  position: relative;
  height: var(--tol-utility-bar-height);
  align-items: center;
  z-index: 5;
}

.tol-utility-bar-no-left-side {
  position: fixed;
  width: calc(100% - 16px);
  z-index: 5;
}

.tol-utility-bar-buttons {
  flex-grow: 1;
}

.tol-component-contents {
  height: 100%;

  &.with-offset {
    height: calc(100% - var(--tol-utility-bar-offset));
  }

  &.with-overflow {
    overflow: auto;
  }
}

.tol-icon-tooltip.tol-utility-bar-tooltip {
  margin: 0 10px;
}