/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

/*
// Strict Theme //
The following have sass and css variables
- primary = main colour used for buttons and accents - can be overidden
- secondary = faded version of primary but can be overidden
- greys = used for table borders/headers etc
- primary-opaque = used for subtle selected items
- grey-opaque = used for hovering on table cells etc

The following have sass and css variables
- bs-body-bg = background of website
- bs-body-color = used for text
- bs-emphasis-color = bold text for titles
*/

// GENERAL
$primary: #039be5 !default; // 0d6efd
$secondary: darken($primary, 12%) !default;
$bs-body-bg: var(--bs-body-bg) !default;
$bs-body-color: var(--bs-body-color) !default;
$bs-emphasis-color: var(--bs-emphasis-color) !default;
$bs-body-darker: var(--bs-body-darker) !default;

// TOL COLOURS (These are equivilant to the bootstrap colours)
// (https://getbootstrap.com/docs/5.1/customize/css-variables/)
$tol-primary: $primary !default;
$tol-error: #dc3545 !default;
$tol-success: #198754 !default;
$tol-warning: #ffc107 !default;
$tol-edit: #6f42c1 !default;

// Lightened versions
$primary-light: lighten($primary, 5%) !default;
$tol-error-light: lighten($tol-error, 5%) !default;
$tol-success-light: lighten($tol-success, 5%) !default;
$tol-warning-light: lighten($tol-warning, 5%) !default;
$tol-edit-light: lighten($tol-edit, 5%) !default;

// Darkened versions
$primary-dark: darken($primary, 10%) !default;
$tol-error-dark: darken($tol-error, 10%) !default;
$tol-success-dark: darken($tol-success, 10%) !default;
$tol-warning-dark: darken($tol-warning, 10%) !default;
$tol-edit-dark: darken($tol-edit, 10%) !default;

// HOVER
$grey-subtle: var(--bs-secondary-bg);
$grey-emphasis: var(--bs-border-color) !default; // #808080
$grey-opaque: rgba($grey-emphasis, 0.1) !default;
$primary-opaque: rgba($primary, 0.07) !default;
$primary-hover: lighten($primary, 10%) !default;

$placeholder: var(--rs-text-secondary) !default;

// SASS -> CSS VARS //
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --grey-subtle: var(--bs-secondary-bg);
  --grey-emphasis: var(--bs-border-color);
  --grey-opaque: #{$grey-opaque};
  --primary-opaque: #{$primary-opaque};
  --primary-hover: #{$primary-hover};
  --placeholder: #{$placeholder};
  --tol-error: #{$tol-error};
  --tol-success: #{$tol-success};
  --tol-warning: #{$tol-warning};
  --tol-edit: #{$tol-edit};
  --primary-light: #{$primary-light};
  --tol-error-light: #{$tol-error-light};
  --tol-success-light: #{$tol-success-light};
  --tol-warning-light: #{$tol-warning-light};
  --tol-edit-light: #{$tol-edit-light};
  --primary-dark: #{$primary-dark};
  --tol-error-dark: #{$tol-error-dark};
  --tol-success-dark: #{$tol-success-dark};
  --tol-warning-dark: #{$tol-warning-dark};
  --tol-edit-dark: #{$tol-edit-dark};

  // light mode variant
  --bs-body-darker: var(--grey-subtle);
}

// dark mode variant
@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-darker: #121618;
  }
}
