/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

/*
If you need to make variable colour changes, please only change the
values marked 'VALUE CAN BE MODIFIED' and not the actual variables.
*/

// colours
$tol-primary: #039be5 !default; // VALUE CAN BE MODIFIED
$tol-primary-opaque: rgba($tol-primary, 0.1) !default;
$tol-primary-light: lighten($tol-primary, 10%) !default;
$tol-primary-dark: darken($tol-primary, 10%) !default;

$tol-info: $tol-primary !default; // VALUE CAN BE MODIFIED
$tol-info-opaque: rgba($tol-info, 0.1) !default;
$tol-info-light: lighten($tol-info, 10%) !default;
$tol-info-dark: darken($tol-info, 10%) !default;

$tol-success: green !default; // VALUE CAN BE MODIFIED
$tol-success-opaque: rgba($tol-success, 0.1) !default;
$tol-success-light: lighten($tol-success, 10%) !default;
$tol-success-dark: darken($tol-success, 10%) !default;

$tol-warning: orange !default; // VALUE CAN BE MODIFIED
$tol-warning-opaque: rgba($tol-warning, 0.1) !default;
$tol-warning-light: lighten($tol-warning, 10%) !default;
$tol-warning-dark: darken($tol-warning, 10%) !default;

$tol-error: red !default; // VALUE CAN BE MODIFIED
$tol-error-opaque: rgba($tol-error, 0.1) !default;
$tol-error-light: lighten($tol-error, 10%) !default;
$tol-error-dark: darken($tol-error, 10%) !default;

$tol-royal: purple !default; // VALUE CAN BE MODIFIED
$tol-royal-opaque: rgba($tol-royal, 0.1) !default;
$tol-royal-light: lighten($tol-royal, 10%) !default;
$tol-royal-dark: darken($tol-royal, 10%) !default;

$tol-grey: grey !default; // VALUE CAN BE MODIFIED
$tol-grey-opaque: rgba($tol-grey, 0.1) !default;
$tol-grey-light: lighten($tol-grey, 10%) !default;
$tol-grey-dark: darken($tol-grey, 10%) !default;

// general
$tol-bg: white !default; // VALUE CAN BE MODIFIED
$tol-bg-dark: #e7eaed !default; // VALUE CAN BE MODIFIED
$tol-text: #212529 !default; // VALUE CAN BE MODIFIED
$tol-emphasis: black !default; // VALUE CAN BE MODIFIED

@media (prefers-color-scheme: dark) {
  $tol-bg: #192234 !default; // VALUE CAN BE MODIFIED
  $tol-bg-dark: #020c12 !default; // VALUE CAN BE MODIFIED
  $tol-text: #dee1e5 !default; // VALUE CAN BE MODIFIED
  $tol-emphasis: white !default; // VALUE CAN BE MODIFIED
}

// css variable conversion
:root {
  --primary: #{$tol-primary};
  --primary-opaque: #{$tol-primary-opaque};
  --primary-light: #{$tol-primary-light};
  --primary-dark: #{$tol-primary-dark};

  --info: #{$tol-info};
  --info-opaque: #{$tol-info-opaque};
  --info-light: #{$tol-info-light};
  --info-dark: #{$tol-info-dark};

  --success: #{$tol-success};
  --success-opaque: #{$tol-success-opaque};
  --success-light: #{$tol-success-light};
  --success-dark: #{$tol-success-dark};

  --warning: #{$tol-warning};
  --warning-opaque: #{$tol-warning-opaque};
  --warning-light: #{$tol-warning-light};
  --warning-dark: #{$tol-warning-dark};

  --error: #{$tol-error};
  --error-opaque: #{$tol-error-opaque};
  --error-light: #{$tol-error-light};
  --error-dark: #{$tol-error-dark};

  --grey: #{$tol-grey};
  --grey-opaque: #{$tol-grey-opaque};
  --grey-light: #{$tol-grey-light};
  --grey-dark: #{$tol-grey-dark};

  --royal: #{$tol-royal};
  --royal-opaque: #{$tol-royal-opaque};
  --royal-light: #{$tol-royal-light};
  --royal-dark: #{$tol-royal-dark};

  --bg: #{$tol-bg};
  --bg-dark: #{$tol-bg-dark};
  --text: #{$tol-text};
  --emphasis: #{$tol-emphasis};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #{$tol-bg};
    --bg-dark: #{$tol-bg-dark};
    --text: #{$tol-text};
    --emphasis: #{$tol-emphasis};
  }
}
