/*
SPDX-FileCopyrightText: 2025 Genome Research Ltd.

SPDX-License-Identifier: MIT
*/

.tol-video-container {
  position: relative;
  padding-bottom: 56.25%; // ((9/16) * 100) 16:9 aspect ratio
  height: 0;
  overflow: hidden;
}

.tol-video-player {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
