/*
 * SPDX-FileCopyrightText: 2022 Genome Research Ltd.
 *
 * SPDX-License-Identifier: MIT
 */

.tol-widget {
  background-color: var(--bs-body-bg);
  border-radius: 6px;
  padding: 18px;
  margin: 18px;
  box-shadow: 0px 0px 10px 0px rgba(black, 0.1);

  h2, p {
    margin: 0;
  }
}

.tol-grid-item {
  @extend .tol-widget;
  margin: 0px;
}

.tol-placeholder {
  background-color: var(--grey-subtle);
  position: relative !important;
  height: auto !important;
  min-height: 100% !important;
}

.tol-placeholder-empty {
  position: relative !important;
  height: auto !important;
  min-height: 100% !important;
}

.tol-placeholder-icons {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .fa-chart-pie,
  .fa-map-location-dot,
  .fa-chart-column {
    path {
      fill: var(--bs-body-bg)
    }
  }

  h5 {
    text-align: center;
  }
}

.overlay-outer {
  position: relative;
}

.overlay-top {
  position: absolute;
  width: 100%;
}

.widget-title {
  margin-bottom: 0;
}
